<%- include('./partials/adminHeader') %>

<style>
    .colorForError{
        color: red;
    }
</style>
<style>
    .img-container {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
#image-to-crop {
    width: 100%; 
}

</style>

<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">
<script src="https://unpkg.com/cropperjs"></script>


<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/public/adminAsset/imgs/theme/eyetrek.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize">
                    <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminHome">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/productList">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orderPage">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/userManagement">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/categoryPage">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offerPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/couponPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/popularProductPage"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Popular Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/bestCategoryPage"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Best Categories</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/topBrandPage"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Top Brands</span>
                    </a>
                </li>
            </ul>
            <hr>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="material-icons md-apps"></i>
                </button>
                <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="/admin/addProduct" method="post" enctype="multipart/form-data" id="productForm">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>1. General info</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Product title</label>
                                            <input type="text" name="name" id="name" placeholder="Type here" class="form-control">
                                            <span id="title-error" class="colorForError"></span>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Description</label>
                                            <textarea placeholder="Type here" name="Description" id="Description" class="form-control" rows="4"></textarea>
                                            <span id="description-error"class="colorForError"></span>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Brand</label>
                                            <input type="text" name="brand" id="brand" placeholder="Type here" class="form-control">
                                            <span id="brand-error"class="colorForError"></span>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Stock</label>
                                            <input type="text" name="stock" id="stock" placeholder="Type here" class="form-control">
                                            <span id="stock-error"class="colorForError"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. Pricing</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Original Price</label>
                                            <input type="text" name="originalPrice" id="originalPrice" placeholder="$00.0" class="form-control">
                                            <span id="originalPrice-error"class="colorForError"></span>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Offer Price</label>
                                            <input type="text" name="offerPrice" id="offerPrice" placeholder="$00.0" class="form-control">
                                            <span id="offerPrice-error"class="colorForError"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>3. Category</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <select class="form-select" name="category" id="category">
                                                <% for(let i=0;i<category.length;i++){ %>
                                                <option value="<%= category[i]._id %>"><%= category[i].name %></option>
                                                <% } %>
                                            </select>
                                            <span id="category-error"class="colorForError"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. Media</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Images</label>
                                            <input class="form-control" type="file" name="images" id="images" accept=".jpg,.jpeg,.png,.webp" multiple>
                                            <span id="images-error" class="colorForError"></span>
                                        </div>
                                        <div id="image-preview" class="row"></div>
                                    </div>
                                    <!-- Cropping Modal -->
                                    <div class="modal fade" id="cropperModal" tabindex="-1" role="dialog" aria-labelledby="cropperModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="cropperModalLabel">Crop Image</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="img-container">
                                                        <img id="image-to-crop" src="">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <button type="button" id="crop-image-btn" class="btn btn-primary">Crop</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const form = document.getElementById('productForm');
                const title = document.getElementById('name');
                const description = document.getElementById('Description');
                const brand = document.getElementById('brand');
                const stock = document.getElementById('stock');
                const originalPrice = document.getElementById('originalPrice');
                const offerPrice = document.getElementById('offerPrice');
                const category = document.getElementById('category');
                const images = document.getElementById('images');

                const titleError = document.getElementById('title-error');
                const descriptionError = document.getElementById('description-error');
                const brandError = document.getElementById('brand-error');
                const stockError = document.getElementById('stock-error');
                const originalPriceError = document.getElementById('originalPrice-error');
                const offerPriceError = document.getElementById('offerPrice-error');
                const imagesError = document.getElementById('images-error');

                form.addEventListener('submit', function(event) {
                    let isValid = true;

                    // Title validation
                    const textPattern = /^(?!.* {2})[a-zA-Z0-9 ]+$/;

                    if (!textPattern.test(title.value)) {
                        isValid = false;
                        titleError.innerText = 'Invalid Title';
                    } else {
                        titleError.innerText = '';
                    }

                    // Description validation
                    if (!textPattern.test(description.value)) {
                        isValid = false;
                        descriptionError.innerText = 'Invalid Description';
                    } else {
                        descriptionError.innerText = '';
                    }

                    // Brand validation
                    if (!textPattern.test(brand.value)) {
                        isValid = false;
                        brandError.innerText = 'Invalid Brand';
                    } else {
                        brandError.innerText = '';
                    }

                    // Stock validation
                    const numberPattern = /^(?!.* {2})[0-9 ]+$/;

                    if (!numberPattern.test(stock.value)) {
                        isValid = false;
                        stockError.innerText = 'Invalid Stock';
                    } else {
                        stockError.innerText = '';
                    }

                    // Original Price validation
                    if (!numberPattern.test(originalPrice.value)) {
                        isValid = false;
                        originalPriceError.innerText = 'Invalid Price';
                    } else {
                        originalPriceError.innerText = '';
                    }

                    // Offer Price validation
                    if (!numberPattern.test(offerPrice.value)) {
                        isValid = false;
                        offerPriceError.innerText = 'Invalid Price';
                    } else {
                        offerPriceError.innerText = '';
                    }

                    // Images validation
                    const validImageTypes = ['image/jpeg', 'image/png', 'image/webp'];
                    if (images.files.length < 1) {
                        isValid = false;
                        imagesError.innerText = 'Please upload at least 1 image';
                    } else {
                        for (const file of images.files) {
                            if (!validImageTypes.includes(file.type)) {
                                isValid = false;
                                imagesError.innerText = 'Only image files are allowed (JPEG, PNG, WEBP)';
                                break;
                            } else {
                                imagesError.innerText = '';
                            }
                        }
                    }

                    if (!isValid) {
                        event.preventDefault();
                    }
                });
            });
        </script>

        <!-- image preview -->
        <script>
            document.getElementById('images').addEventListener('change', function(event) {
            const imagePreviewContainer = document.getElementById('image-preview');
            imagePreviewContainer.innerHTML = '';

            const files = event.target.files;

            if (files) {
                Array.from(files).forEach(file => {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        const imgElement = document.createElement('img');
                        imgElement.src = e.target.result;
                        imgElement.classList.add('img-thumbnail');
                        imgElement.style.margin = '10px';
                        imgElement.style.width = '100px';
                        imgElement.style.height = '100px';

                        imgElement.addEventListener('click', function() {
                            cropperModal(e.target.result);
                        });

                        const colDiv = document.createElement('div');
                        colDiv.classList.add('col-md-3');
                        colDiv.appendChild(imgElement);

                        imagePreviewContainer.appendChild(colDiv);
                    };

                    reader.readAsDataURL(file);
                });
            }
        });

        function cropperModal(imageSrc) {
            const cropperModal = document.getElementById('cropperModal');
            const imageToCrop = document.getElementById('image-to-crop');

            imageToCrop.src = imageSrc;

            $(cropperModal).modal('show');

            $(cropperModal).on('shown.bs.modal', function () {
                let cropper = new Cropper(imageToCrop, {
                    aspectRatio: 1,
                    viewMode: 1,
                    autoCropArea: 1,
                    responsive: true
                });

                document.getElementById('crop-image-btn').onclick = function() {
                    const canvas = cropper.getCroppedCanvas();
                    const croppedImageSrc = canvas.toDataURL('image/png');

                    const previewImages = document.querySelectorAll('#image-preview img');
                    previewImages.forEach(img => {
                        if (img.src === imageSrc) {
                            img.src = croppedImageSrc;
                        }
                    });

                    $(cropperModal).modal('hide');

                    cropper.destroy();
                };
            });

            $(cropperModal).on('hidden.bs.modal', function () {
                const imageToCrop = document.getElementById('image-to-crop');
                if (imageToCrop.cropper) {
                    imageToCrop.cropper.destroy();
                }
                $(cropperModal).off('shown.bs.modal');
            });
        }

        </script>
            
        <%- include('./partials/adminFooter') %>
